body {
    font-family: Arial, sans-serif;
    background-color: #9ffd08;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #48fc01;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 20px rgba(154, 247, 4, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 20px;
}

.matrix-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.matrix-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.matrix-input-field {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #05ad13;
    color: rgb(5, 5, 5);
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    font-size: 16px;
}


#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}